body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-toolbar-style {
  color: #000 !important;
  background-color: transparent !important;
  border: 1px solid #dee2e6 !important;
}

.btn-toolbar-style:hover {
  background-color: #f8f9fa !important;
  color: #000 !important;
}

.btn-toolbar-style:disabled {
  opacity: 0.5;
  background-color: transparent !important;
}
